body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
}

.div-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 127vw;
  margin: 10vw 2vw 2vw 2vw;
  padding: 0;
  background-color: white;
  border-radius: 10px 10px 45px 10px;
}
@media screen and (min-width: 768px) {
  .div-app {
    height: 56vw;
    width: 70vw;
  }
}
@media screen and (min-width: 1440px) {
  .div-app {
    width: 60vw;
    height: 50vw;
    border-radius: 10px 10px 145px 10px;
    margin-top: 4vw;
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vw;
}
@media screen and (min-width: 768px) {
  .form {
    margin-top: 33px;
  }
}
@media screen and (min-width: 1440px) {
  .form {
    flex-direction: column;
    display: flex;
    margin: 4vw 0 0 4vw;
  }
}

.table {
  display: flex;
  justify-content: center;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .table {
    width: 34vw;
  }
}

.tr-th {
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: 1vw;
}
@media screen and (min-width: 768px) {
  .tr-th {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .tr-th {
    font-size: 1vw;
    letter-spacing: 0.5vw;
  }
}

.tr-td {
  width: 28vw;
}
@media screen and (min-width: 768px) {
  .tr-td {
    width: 16vw;
  }
}
@media screen and (min-width: 1440px) {
  .tr-td {
    width: 11vw;
  }
}

.input {
  height: 8vw;
  width: 21vw;
  padding: 2vw;
  color: black;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 5vw;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
}
@media screen and (min-width: 768px) {
  .input {
    font-size: 3vw;
    width: 10vw;
    height: 2vw;
  }
}
@media screen and (min-width: 1440px) {
  .input {
    width: 7vw;
    height: 0.5vw;
    font-size: 2vw;
    padding-left: 1vw;
  }
}

@media screen and (min-width: 768px) {
  .div-btn {
    display: flex;
    width: 49vw;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .div-btn {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    justify-content: flex-start;
  }
}

.btn {
  position: relative;
  width: 20vw;
  height: 20vw;
  margin: 8vw 2vw 6vw 0;
  border-radius: 45px;
  border-style: none;
  background-color: hsl(259, 100%, 65%);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .btn {
    border-radius: 90%;
    width: 10vw;
    height: 10vw;
    margin: 0;
    margin-top: 1vw;
  }
}
@media screen and (min-width: 1440px) {
  .btn {
    border-radius: 145px;
    width: 8vw;
    height: 8vw;
    margin: 0;
  }
}

.row-h {
  position: absolute;
  margin-left: -29vw;
  border-top: solid 1px rgb(232, 232, 232);
  margin-top: -16vw;
  width: 76vw;
  top: 74vw;
}
@media screen and (min-width: 768px) {
  .row-h {
    left: 55vw;
    width: 48vw;
    top: 45vw;
  }
}
@media screen and (min-width: 1440px) {
  .row-h {
    width: 42vw;
    border-top: solid 3px rgb(232, 232, 232);
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.row-v {
  border-right: solid 1px white;
  height: 7vw;
  position: absolute;
  left: 49vw;
  top: 54vw;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .row-v {
    top: 26vw;
    height: 5vw;
    left: 50vw;
  }
}
@media screen and (min-width: 1024px) {
  .row-v {
    height: 4vw;
    top: 17vw;
    left: 69.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .row-v {
    height: 4vw;
    top: 17vw;
    left: 70vw;
  }
}

.arc-left {
  width: 4vw;
  height: 4vw;
  border-radius: 0 100px 0 0;
  border: solid 1px white;
  border-left: none;
  border-bottom: none;
  top: 57vw;
  position: absolute;
  z-index: 1;
  left: 45vw;
}
@media screen and (min-width: 768px) {
  .arc-left {
    top: 28vw;
    left: 47vw;
    width: 3vw;
    height: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .arc-left {
    top: 18.5vw;
    left: 67vw;
    height: 2.5vw;
    width: 2.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .arc-left {
    top: 18vw;
    left: 67vw;
    height: 3vw;
    width: 3vw;
  }
}

.arc-right {
  width: 4vw;
  height: 4vw;
  border-radius: 100px 0 0 0;
  border: solid 1px white;
  border-right: none;
  border-bottom: none;
  top: 57vw;
  position: absolute;
  z-index: 1;
  left: 49vw;
}
@media screen and (min-width: 768px) {
  .arc-right {
    top: 28vw;
    left: 50vw;
    width: 3vw;
    height: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .arc-right {
    top: 18.5vw;
    left: 69.5vw;
    height: 2.5vw;
    width: 2.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .arc-right {
    top: 18vw;
    left: 70vw;
    height: 3vw;
    width: 3vw;
  }
}

.div-age {
  font-size: 15vw;
  font-weight: 800;
  font-style: italic;
  line-height: 17vw;
  margin-left: 19vw;
}
@media screen and (min-width: 768px) {
  .div-age {
    font-size: 8vw;
    line-height: 9vw;
    margin-left: 10vw;
  }
}
@media screen and (min-width: 1440px) {
  .div-age {
    margin-left: 5vw;
    font-size: 9vw;
    line-height: 9vw;
  }
}

.years, .months, .days {
  color: hsl(259, 100%, 65%);
}

.div-error {
  position: absolute;
  color: hsl(0, 100%, 67%);
  font-size: 2vw;
  font-style: italic;
  top: 41vw;
  left: 7vw;
  display: none;
}

.div-birthday {
  font-size: 32vw;
  font-weight: 800;
  font-style: italic;
  margin-left: 5vw;
  color: rgba(171, 250, 224, 0.5);
  line-height: 20vw;
  display: block;
  position: absolute;
  word-wrap: break-word;
  width: 90vw;
  text-align: center;
  letter-spacing: 6vw;
  top: 14vw;
  animation: blink 1s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  .div-birthday {
    line-height: 17vw;
    font-size: 16vw;
    margin-left: -13vw;
    letter-spacing: 2vw;
    top: 11vw;
  }
}
@media screen and (min-width: 1440px) {
  .div-birthday {
    margin: 0px;
    font-size: 22vw;
    line-height: 25vw;
    letter-spacing: 0vw;
    width: 95vw;
    top: -1vw;
    left: 1vw;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.attribution {
  margin-top: 4vw;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */